<div class="layout-topbar">
    <div class="layout-topbar-wrapper">
        <div class="layout-topbar-left">
            <a tabindex="0" class="menu-button" (click)="appMain.onMenuButtonClick($event)">
                <i class="pi pi-bars"></i>
            </a>
            <a tabindex="0" id="logo-link" class="layout-topbar-logo" (click)="appMain.onMenuButtonClick($event)">
                <img [src]="'assets/layout/images/logo-' + (app.topbarTheme === 'dark' ? 'freya-white' : 'freya') + '.svg'" alt="freya-layout"/>
            </a>
        </div>

        <app-menu></app-menu>

        <div class="layout-topbar-right">
            <ul class="layout-topbar-actions">
                <li #searchItem class="topbar-item search-item" [ngClass]="{'active-topmenuitem': appMain.search}">
                    <span>Bienvenido Felipe Del Rio!</span>
                </li>
            </ul>
        </div>
    </div>
</div>
